@charset "UTF-8";

/*Media querie para cada versão de tela*/

@media print {/*IMPRESSÃO*/
    

}

@media screen and (min-width:768px) and (max-width:992px){/*TABLET*/

    body{
        background: black url(../back-tablet.jpg) no-repeat;
    }
    
    img#phone{
        display: none;
    }

    img#tablet{
        display: block;
        margin: auto;
    }

    
}