@charset "UTF-8";

/*Media querie para mobile first*/

@media print {/*IMPRESSORA*/
    *{ font-family: Arial, Helvetica, sans-serif;
    }
    main{
        position: relative;
        border: 2px solid black;
        padding: 50px;
    }

    main>h1{
        color: black;
        text-shadow: none;
    }

    main::after{
        position: absolute;
        left: 50px;
        font-size: 2em;
        text-align: center;
        text-decoration: overline;
        content: "Este site foi feito por 'william codess'.";
    }

    img#print{
        display: block;
        margin: auto;
    }

    main>img#phone{
        display:none;
    }
}


*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html{
    height: 100vh;
}

body{
    background: black url(../back-phone.jpg) no-repeat center center;
    background-size: cover;
}

main{
    width: 90vw;
    background-color: rgba(255, 255, 255, 0.712);
    margin: auto;
    margin-top: 10px;
    padding-top: 10px;
    border-radius: 10px;
}

h1{
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align: center;
}

img{
display: none;
}

img#phone{
    display: block;
    margin: auto;
    }
